<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
  <hr>
  <div class="card">
    <div class="card-header">
      <h2>Categorias</h2>
      <a href="/admin/categories/new" class="btn btn-success">Criar categoria</a>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(category => {  %>
            <tr>
              <th><%= category.id %></th>
              <th><%= category.title %></th>
              <th><%= category.slug %></th>
              <th width="20%">
                <a href="/admin/categories/edit/<%= category.id%>" class="btn btn-warning">Editar</a>
                <form action="/categories/delete" method="POST" style="display: inline;" onsubmit="deleteConfirmation(event, this)">
                  <input type="hidden" name="id" value="<%= category.id%>">
                  <button class="btn btn-danger">Deletar</button>
                </form>
              </th>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs') %>
<script>
  function deleteConfirmation(event, form) {
    event.preventDefault()
    const decision = confirm("Você quer deletar mesmo esta categoria?")
    if(decision) form.submit()
  }
</script>